* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-image:
    url(images/bg-card-front.png),
    url(images/bg-card-back.png),
    url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size:
    18rem,
    18rem,
    100% 15rem;
  background-position:
    left 1rem top 9rem,
    right 1rem top 3rem,
    top;
}

main>* {
  padding-top: 23rem;
}

form>* {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}