@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --clr-objecttxt: hsl(0, 0%, 100%);
  --clr-formbdr: hsl(270, 3%, 87%);
  --clr-forminput: hsl(279, 6%, 55%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

p {
  margin: 0;
}

.card__front,
.card__back p {
  color: var(--clr-objecttxt);
}

.card__front {
  position: absolute;
  z-index: 2;
  top: 7.5em;
  left: 50%;
  transform: translateX(-60%);
}

.card__front-bg {
  content: url(images/bg-card-front.png);
  width: 18em;
}

.card__front-logo {
  content: url(images/card-logo.svg);
  position: absolute;
  top: 1em;
  left: 1em;
}

.card__front-text {
  position: absolute;
  top: 6em;
  left: 1em;
}

.card__front-date {
  padding-left: 2em;
}

.card__back {
  position: absolute;
  z-index: 1;
  top: 2em;
  left: 50%;
  transform: translateX(-40%);
}

.card__back-bg {
  content: url(images/bg-card-back.png);
  width: 18em;
}

.card__back-text {
  position: absolute;
  top: 4.2em;
  right: 2em;
}

.card__background {
  content: url(images/bg-main-mobile.png);
  position: relative;
  z-index: 0;
  width: 100%;
  height: 15em;
  margin-bottom: 5em;
}

.form {
  margin: 0 1rem;
}

input {
  margin: .5em 0 1.5em;
  padding: .5em 1em;
  font-size: 18px;
  color: var(--clr-forminput);
  border: 1px solid var(--clr-formbdr);
  border-radius: 5px;
}

#fillForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#fillForm>* {
  min-width: 0;
}

.form__name {
  grid-area: 1/1/2/5;
}

.form__name-in {
  grid-area: 2/1/3/5;
}

.form__number {
  grid-area: 3/1/4/5;
}

.form__number-in {
  grid-area: 4/1/5/5;
}

.form__exp {
  grid-area: 5/1/6/3;
}

.form__cvc {
  grid-area: 5/3/6/5;
}

.form__mm-in {
  grid-area: 6/1/7/2;
}

.form__yy-in {
  grid-area: 6/2/7/3;
  margin-left: .5em;
}

.form__cvc-in {
  grid-area: 6/3/7/5;
  margin-left: 1em;
}

#confirmButton {
  width: 100%;
}

#completedForm {
  display: none;
  margin: 0 1em;
  text-align: center;
}

.complete__icon {
  content: url(images/icon-complete.svg);
  margin: auto;
}

#continueButton {
  width: 100%;
  margin-top: 3em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}