@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

form>* {
  display: block;
}

input {
  font: inherit;
}

.form__message {
  visibility: hidden;
}

.form__message.form__message-error {
  visibility: visible;
}

.form__submitted {
  display: none;
}