@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --clr-cardtxt: hsl(0, 0%, 100%);

  --clr-inputbdr: hsl(270, 3%, 87%);
  --clr-inputtxt: hsl(279, 6%, 55%);

  --clr-inputerr: hsl(0, 100%, 66%);

  --clr-gradientl: hsl(249, 99%, 64%);
  --clr-gradientr: hsl(278, 94%, 30%);

  --clr-button: hsl(278, 68%, 11%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 12em;
}

.card>* {
  color: var(--clr-cardtxt);
  width: 15em;
  height: 8.25em;
  background-repeat: no-repeat;
  padding: 1em;
}

.card__back {
  background-image: url(images/bg-card-back.png);
  background-size: 15em;
  background-position: center;
  position: absolute;
  z-index: 0;
  top: 1.5em;
  left: 50%;
  transform: translateX(-40%);
}

.card__front {
  background-image:
    url(images/card-logo.svg),
    url(images/bg-card-front.png);
  background-size: 3em, 15em;
  background-position: top 1em left 1em, center;
  position: absolute;
  z-index: 1;
  top: 6.2em;
  left: 50%;
  transform: translateX(-60%);
}

.card__cvc {
  margin-top: 2.425em;
  margin-left: 10em;
}

.card__front-container {
  display: flex;
}

.card__number {
  font-size: 18px;
  margin: 0;
  padding-top: 3em;
}

.card__name {
  width: 10em;
  margin: 0;
}

.card__date {
  margin: 0;
}

.form,
.form__submitted {
  margin: 6.5em 1em;
}

.form__message {
  visibility: hidden;
  color: var(--clr-inputerr);
  margin-top: 0;
}

.form__message.form__message-error {
  visibility: visible;
}

.form__submitted {
  display: none;
}

.form__input {
  background-color: var(--clr-inputbdr);
  padding: 2px;
  margin-top: .25em;
  border-radius: 10px;
}

.form__input.form__input-error {
  background-color: var(--clr-inputerr);
  padding: 2px;
}

.form__input:focus-within {
  background-image: linear-gradient(to right, var(--clr-gradientl), var(--clr-gradientr));
}

input {
  border: none;
  color: var(--clr-inputtxt);
  width: 100%;
  padding: .5em 1em;
  border-radius: 9px;
}

input:focus {
  outline: none;
}

.form__flex {
  display: flex;
  width: 100%;
}

.form__flex-left {
  display: flex;
  width: 20em;
  gap: .5em;
}

.form__flex-right {
  width: 100%;
  margin-left: 1em;
}

button {
  width: 100%;
  padding: 1em;
  border: none;
  background-color: var(--clr-button);
  color: var(--clr-cardtxt);
  font: inherit;
  border-radius: 10px;
}

@media screen and (min-width:600px) {
  .App {
    display: flex;
  }

  .card {
    width: 30%;
    height: 100vh;
    background-image: url(images/bg-main-desktop.png);
  }

  .card>* {
    width: 30em;
    height: 16.5em;
  }

  .card__back {
    background-size: 30em;
    position: static;
    top: auto;
    left: auto;
    transform: translateX(0);
  }

  .card__front {
    background-size: 6em, 30em;
    position: static;
    top: auto;
    left: auto;
    transform: translateX(0);
  }

  .card__cvc {
    margin-top: 4.1em;
    margin-left: 15em;
    font-size: 1.5em;
  }
}